body {
	
	background-color:	#090909;
	
	color:				#BFBFBF;
	
}

div#page {
	
	height:				100%;
	
	width:				100%;
	
	display:			block;
	
}

div#sidebar {
	
	width:				20%;
	
	height:				100%;
	
	display:			inline-block;
	
	border-right:		1px dashed #333;
	
	text-align:			center;
	
	vertical-align:		top;
	
	position:			relative;
	
	margin-right:		20px;
	
}

div#content {
	
	width:				70%;
	
	height:				100%;
	
	display:			inline-block;
	
}

div#logo {
	
	background:			url(../../images/logo_small.png) no-repeat center center;
	
	margin-left:		auto;
	
	margin-right:		auto;
	
	display:			block;
	
	width:				173px;
	
	height:				77px;
	
}

div#searchBox {
	
	width:				140px;
	
	margin-left:		auto;
	
	margin-right:		auto;
	
	margin-top:			10px;
	
	margin-bottom:		10px;
	
}

div#searchForm {
	
	text-align:			left;
	
	width:				136px;
	
	margin-top:			10px;
	
	margin-bottom:		10px;
	
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}